{% extends 'appentrega/base.html' %}

{% block contenido %}
        <main>
        <!-- Contact section-->
        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Pedido de medicamentos</h2>
                    <p class="lead mb-0">Necesitas un medicamento? Cargando el formulario realizaremos tu pedido!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <form id="contactForm" action="/drogueria/productos/" method="get" data-sb-form-api-token="API_TOKEN">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" name="cliente" placeholder="Cliente" data-sb-validations="required" />
                                <label for="name">Cliente</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere nombre de cliente.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Correo electronico</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Se requiere un correo.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Correo electronico invalido</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" name="nombre" placeholder="Marca comercial" data-sb-validations="required" />
                                <label for="name">Marca comercial</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere una marca.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" name="droga" placeholder="Droga"/>
                                <label for="name">Droga</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere una droga.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" name="laboratorio" placeholder="Laboratorio" data-sb-validations="required" />
                                <label for="name">Laboratorio</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere un laboratorio.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="number" name="codigo" placeholder="Codigo de barras" data-sb-validations="required" />
                                <label for="phone">Codigo de barras</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Se requiere un codigo.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="number" name="stock" placeholder="Cantidad de productos" data-sb-validations="required" />
                                <label for="phone">Cantidad de productos</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Ingrese cantidad de productos </div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><input class="btn btn-primary btn-lg disabled" id="submitButton" type="submit" value="Enviar pedido"></div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        </main>
{% endblock %}